@tailwind base;
@tailwind components;
@tailwind utilities;

.Crop-Controls input[type="file"]::file-selector-button {
  border-radius: 8px;
  padding: 0 16px;
  height: 40px;color: #fff;
  cursor: pointer;
  background-color: #2a2a2a;border: none;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  margin-right: 16px;
  transition: background-color 200ms;
}
.crop-div input[type="number"]{
  @apply w-16 bg-zinc-100 p-1 px-2 rounded-md border border-zinc-800
}

.sideWidth {
  width: 300px !important;
}.sideWidth-bn{
  width: 370px !important;
}
.ck-editor__editable {
  min-height: 300px; /* Set the desired height */
  max-height: 600px; /* Optional: Set a maximum height */
  overflow: auto;    /* Ensures scrollbars appear if needed */
}


/* =======================paginator======================= */

.p-paginator{
  @apply w-full py-5 rounded-lg 
}
.p-paginator-page{
  @apply hover:bg-zinc-100 duration-300 rounded-lg
}
.p-paginator-pages{
  @apply gap-1 flex
}
.p-paginator .p-paginator-pages .p-highlight {
  @apply bg-zinc-800 font-bold text-white
}